article{
  width:400px;
  height:auto;
    padding:10px;
  margin:auto;
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  border:2px solid;
    border-radius: 10px;
}
#tasksList{
  /*border:2px solid green;*/
  width:100%;
  min-height:200px;
  display:flex;
  flex-direction:column;
  justify-content:space-around;
  align-items:center;
}
#tasksList div{
  border:2px solid red;
  width:80%;
}
#tasksList div>form{
  border:2px solid blue;
  display:flex;
  flex-direction:row;
  justify-content:space-around;
}
.check{
  width:20px;
  height:20px;
    color: green;
}
.save{
    width:25px;
    height:25px;
    
}
.del{
    width:25px;
    height:25px;
}
#comment{
  border-top:2px solid;
  display:flex;
  flex-direction:column;
  align-items:center;
}
#comment form{
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  height:180px;
}
#comment form input{
  width:25%;
  align-self:flex-end;
}
